.detailed_box{
    width: 100%;
    padding-bottom: 60px;
    float: left;
}
.detailed_ul{
    width: 100%;
    padding:0 6px;
    float: left;
}
.detailed_ul div{
    padding:4px;
}
.detailed_ul li{
    float: left;
    width: 100%;
    height:120px;
    border-bottom: 1px solid #E8E8E8;
}
.detailed_imgs{
    float: left;
    height: 100%;
}
.detailed_imgs{
    width: 120px;
}
.detailed_imgs img{
    height: 100%;
    width: 100%;
}
.detailed_texts{
    float: left;
    height: 100%;
    width: 62%;
    margin-left: 8px;    
}
.detailed_texts p{
    height:38px;
}
.detailed_name{
    font-size: 14px;
}
.detailed_surplus{
    font-size: 12px;
    line-height: 32px;
}
.detailed_surplus span{
    color:#DA3651;
}
.detailed_esc{
    float: right;
    line-height:105px;
    cursor: pointer;
    height: 100%;
    margin-right: 8px;
}
.detailed_esc img{
    width:16px;
    height:16px;
}
.detailed_fun{
    font-size: 13px;
    line-height: 30px;
}
.detailed_fun button{
    background: #FFFFFF;
    width: 30px;
    height: 30px;
    margin-top: -5px;
    font-size: 20px;
    outline: none;
    border:none;
    font-weight: 800;
}
.detailed_fun input{
    margin-top: -5px;
    width: 60px;
    outline: none;
    border:none;
    text-align: center;
    padding:4px; 
}
.shop_census{
    width: 100%;
    height:100px;
    float: left;
}
.shop_census div{
    float: left;
    width: 50%;
    height:100%;
}
.shop_menus{
    padding-left: 12px;
}
.shop_menus p{
    height:30px;
}
.shop_menus p:nth-child(1){
    font-size: 14px;
    line-height: 38px;
}
.shop_menus p:nth-child(2){
    font-size: 12px;
    line-height: 20px;
    color: #8C8C8C;
}
.shop_menus p span{
    color: #DA3651;
}
.shop_menus button{
    background: #DA3850;
    color:#FFFFFF;
    border:none;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
}
.shop_btns{
    text-align: right;
    padding-right: 10px;
    line-height: 100px;
}
.shop_btns button{
    background: #DA3850;
    color:#FFFFFF;
    border:none;
    font-size: 16px;
    border-radius:4px;
    padding:6px 10px;
}

.shop_hint{
    width: 100%;
    padding:80px 0;
    text-align: center;
}
.shop_hint img{
    max-width: 300px;
    max-height:300px;
    min-width: 150px;
    min-height:150px;
    width:30%;
    height:30%;
}
.shop_hint_text{
    font-size: 18px;
    padding: 20px 0;
}

/* 清除浮动 */
.detailed_box:after,.shop_census:after,.detailed_ul:after,.detailed_ul li:after,.detailed_ul div:after{
    clear: both;
}

