.my_box{
    width:100%;
}
.my_means{
    width: 100%;
    height:100px;
    border-bottom: 4px solid #FFFFFF;
    background:#DA3651;
}
.my_head{
    width: 90px;
    height:90px;
    text-align: center;
    padding: 14px 12px 12px 12px;
    float: left;
}
.my_head img{
    border-radius: 50%;
    width: 70px;
    height:70px;
}
.my_datasbox{
    height:100%;
    float: left;
    color: #FFFFFF;
    font-size:13px;
    padding:16px 0 10px 0;
    width:66%;
}
.my_datasbox p{
    height:23px;
}
.my_integral{
    height: 50px;
    background: #DA3651;
    width: 100%;
}
.my_integral div{
    height:100%;
    width:33.3%;
    float: left;
    text-align: center;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 12px;
    overflow: hidden;
}
.my_integral div:nth-child(1),.my_integral div:nth-child(2){
    text-align: left;
}
.my_integral div:nth-child(1){
    padding-left: 16px;
}
.my_btn button{
    color: #DA3651;
    background:#FFFFFF;
    text-align: center;
    border-radius: 4px; 
    border:1px solid #FFFFFF;
    width: 56px;
    font-size: 14px;
    padding:2px 0; 
}
.my_integral span{
    color: #FFD16A;
}
.my_share{
    width:100%;
    height: 100px;
    border-top:8px solid #E8E8E8;
    border-bottom: 8px solid #E8E8E8;
}
.my_share div{
    float: left;
    height: 100%;
    cursor: pointer;
    width: 33.3%;
    text-align: center;
    font-size: 14px; 
    padding-top: 10px;
}
.my_share div img{
    height:40px;
    margin-bottom: 8px;
}
.my_function_li{
    background:#FFFFFF;
    height:40px;
    cursor: pointer;
    border-bottom:2px solid #E8E8E8;
    padding:4px 18px; 
}
.my_function_li img:nth-child(1){
    height:22px;
    width: 22px;
    float: left;
    margin-top: 4px;
}
.my_function_li span{
    float: left;
    line-height: 32px;
    margin-left: 14px;
    height: 100%;
    font-size: 16px;
}
.my_function_li img:nth-child(3){
    float:right;
    height: 20px;
    margin-top: 6px;
}
/* 清除浮动 */
.my_function_li span:after,.my_function_li img:after,.my_share div:after,.my_integral div:after,.my_head:after,.my_datasbox:after{
    clear: both;
}