#wrap{
    width: 100%;
}

.wrap_ul{
    width: 100%;
    height:100%;
}
.warp_li{
    height:90px;
    padding: 10px 0;
    border-bottom:2px solid #E3E3E3;
    cursor: pointer;
}
.warp_li div{
    float: left;
    height: 100%;
}
.warp_li div:after{
    clear: both;
}
.warp_li div:nth-child(1){
    width: 25%;
    text-align: center;
}
.warp_li div:nth-child(2){
    width: 67%;
    text-align: center;
    line-height: 30px;
    padding-top: 6px;
}
.warp_li div:nth-child(3){
    width: 8%;
    text-align: center;
    line-height: 66px;
}
.warp_text_title{
    color: black;
    font-weight: 800;
    text-align: left;
}
.warp_text_explain{
    color: #959595;
    font-size:12px;
    text-align: left;
}
.warp_li_icon img{
    height: 100%;
}
.warp_li_next img{
    width: 20px;
    height:26px;
    display: inline-block;
}
