*{margin: 0px auto;padding:0px;font-family:"微软雅黑";-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body{background: #FFFFFF;overflow-x: hidden;min-width: 420px;}
a{text-decoration: none;outline: none;color: black}
a:focus{outline: none;}
a:hover{color: black;}
li{list-style-type: none;}
ul,p{padding: 0;margin: 0;}
/*解决input按钮在Iphone上样式不一样的问题*/
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; } 
/*mongod --dbpath=sadfsdafsad --port=27777
node server.js
*/
#article{width:100%;}